MONTHLYSATEMENT/1.0/schemas/JSONConverter11.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MonthlyStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="response_code"/>
                                <xs:element type="xs:string" name="response_msg"/>
                                <xs:element type="xs:string" name="totalPage"/>
                                 <xs:element type="xs:string" name="openingBalance"/>
                                 <xs:element type="xs:string" name="totalCredits"/>
                                 <xs:element type="xs:string" name="totalDebits"/>
                                 <xs:element type="xs:string" name="closingBalance"/>
                                 <xs:element type="xs:string" name="totalInterestEarned"/>
                                 <xs:element type="xs:string" name="customerName"/>
                                 <xs:element type="xs:string" name="address"/>
                                 <xs:element type="xs:string" name="accountCurrency"/>
				<xs:element name="Statement" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="transactionDate"/>
                                                        <xs:element type="xs:string" name="postedDate"/>
                                                        <xs:element type="xs:string" name="amountCredit"/>
                                                        <xs:element type="xs:string" name="amountDebit"/>
                                                        <xs:element type="xs:string" name="amount"/>
                                                        <xs:element type="xs:string" name="currency"/>
                                                        <xs:element type="xs:string" name="description"/>
                                                        <xs:element type="xs:string" name="reference"/>
						</xs:sequence>
                                                
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>