MMS_V3/3.0/transformations/components/khqr_res/project/resources/schemas/IN_PORT_ext3.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBFASTIN" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBFASTIN" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBFASTIN">
   <xsd:complexType name="FUNDSTRANSFERCPBFASTINType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="TRANSACTIONTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INDEBITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CURRENCYMKTDR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITCURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INDEBITVDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CURRENCYMKTCR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITCURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TREASURYRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="NEGDEALERREFNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PROCESSINGDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gORDERINGCUST">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERINGCUST" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINORDERINGCUS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INORDERINGCUS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gORDERINGBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERINGBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINORDERINGBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INORDERINGBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gACCTWITHBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ACCTWITHBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gACCTWITHBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ACCTWITHBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="BENACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INBENACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gBENCUSTOMER">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BENCUSTOMER" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINBENCUSTOMER">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBENCUSTOMER" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gBENBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BENBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINBENBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBENBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CHEQUENUMBER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gPAYMENTDETAILS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYMENTDETAILS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINPAYDETAILS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INPAYDETAILS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="BCBANKSORTCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECEIVERBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gRECCORRBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="RECCORRBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINTERMEDBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERMEDBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gININTMEDBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ININTMEDBANK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="MAILING" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PAYMETHOD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BENOURCHARGES" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INBENOURCHARGES" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHARGESACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHARGECOMDISPLAY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="COMMISSIONCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCOMMISSIONTYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCOMMISSIONTYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="COMMISSIONTYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="COMMISSIONAMT" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="COMMISSIONFOR" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CHARGECODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCHARGETYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCHARGETYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="CHARGETYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="CHARGEAMT" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="CHARGEFOR" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CUSTOMERSPREAD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BASECURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PROFITCENTRECUST" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PROFITCENTREDEPT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RETURNTODEPT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PRIORITYTXN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gBKTOBKINFO">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BKTOBKINFO" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINBKTOBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBKTOBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="EXPOSUREDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FEDFUNDS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="POSITIONTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="NOOFBATCHITEMS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gFREETEXTMSGTO">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREETEXTMSGTO" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gMESSAGE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="MESSAGE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gTAXTYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mTAXTYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="TAXTYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="TAXAMT" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="AMOUNTDEBITED" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AMOUNTCREDITED" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTALCHARGEAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTALTAXAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CUSTOMERRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINRECCORRBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INRECCORRBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="INWARDPAYTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINSENDCORRBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSENDCORRBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="TELEXFROMCUST" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DELIVERYINREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gDELIVERYOUTREF">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="DELIVERYOUTREF" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CREDITCOMPCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITCOMPCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DELIVERYMKR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ORDCUSTCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ACCTWITHBKACNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCAMTDEBITED" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCAMTCREDITED" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCTOTTAXAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCALCHARGEAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCPOSCHGSAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="MKTGEXCHPROFIT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RATEINPUTMKR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CUSTGROUPLEVEL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITCUSTOMER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITCUSTOMER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="SENDPAYMENTYN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DRADVICEREQDYN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CRADVICEREQDYN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEALMARKET" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHARGEDCUSTOMER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINREASONOVE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INREASONOVE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="DEALERDESK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECALCFWDRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RETURNCHEQUE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DRAWNACCOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ACCOUNTINGDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINSTRCTNCODE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSTRCTNCODE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="COLLREMBK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="EXPECTEDRECSID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTRECCOMM" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTRECCOMMLCL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTRECCHG" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTRECCHGLCL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHEQTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gRELATEDMSG">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mRELATEDMSG">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="RELATEDMSG" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="sgTIMEIND">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="TIMEIND">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element minOccurs="0" name="TIMEIND" type="xsd:string"/>
                                          </xsd:sequence>
                                          <xsd:attribute name="s" type="xsd:positiveInteger" use="optional"/>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                                 <xsd:attribute name="sg" type="xsd:positiveInteger" use="optional"/>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINTIMEIND">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTIMEIND" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gSENDTOPARTY">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mSENDTOPARTY">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="SENDTOPARTY" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="sgBKTOBKOUT">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="BKTOBKOUT">
                                       <xsd:complexType>
                                          <xsd:sequence>
                                             <xsd:element minOccurs="0" name="BKTOBKOUT" type="xsd:string"/>
                                          </xsd:sequence>
                                          <xsd:attribute name="s" type="xsd:positiveInteger" use="optional"/>
                                       </xsd:complexType>
                                    </xsd:element>
                                 </xsd:sequence>
                                 <xsd:attribute name="sg" type="xsd:positiveInteger" use="optional"/>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="MESSAGETYPE" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="REVERSALMKR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RELATEDREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gININSTRCODE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ININSTRCODE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINPROCESSERR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INPROCESSERR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINSWIFTMSG">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSWIFTMSG" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="ACCTWITHBANKACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INACCTBANKACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECCORRBANKACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INRECCORRACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INTERMEDBANKACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ININTERMEDACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INSTRUCTEDAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gININTERMEDBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ININTERMEDBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="INEXCHRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RATEFIXING" type="xsd:string"/>
         <xsd:element minOccurs="0" name="COVERMETHOD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gIN3RDREIMBBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="IN3RDREIMBBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="IN3RDREIMBACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="MT103TYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="EXTENDFORMAT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gEXTENDINFO">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTENDINFO" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="RATEFIXINGIND" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INWSENDBIC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINSENDCHG">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSENDCHG" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="INRECCHG" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ACCHGREQID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTRECCHGCRCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TOTSNDCHGCRCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHGADVICEMSG" type="xsd:string"/>
         <xsd:element minOccurs="0" name="EXPECTEDCOVERID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="NETTINGSTATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUTHDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BKOPERATIONCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AMINFLOWRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PARENTTXNID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ROUNDTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BENEFICIARYID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gMSGTYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mMSGTYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="MSGTYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="MSGDATE" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gSIGNATORY">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="SIGNATORY" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CARDNUMBER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCARDTXNDETAIL">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CARDTXNDETAIL" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINCORDBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCORDBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINCINTMEDBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCINTMEDBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINCACCWITBK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCACCWITBK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINCBKTBKIN">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCBKTBKIN" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="TFSREFERENCE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHEQUEDRAWN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ISSUECHEQUETYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STOCKNUMBER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PAYEENAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STOCKREGISTER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="SERIESID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ORDCUSTACCT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INORDCUSTACCT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANDEBIT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANCREDIT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANBEN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANACCTWITHBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANRECCORRBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANINTERMEDBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANORDCUSTACC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBANCHARGESACCT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BICIBANBEN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gBICIBANBENNAME">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BICIBANBENNAME" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="BICIBANBENCITY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gBENNAME">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BENNAME" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gBENADDRESS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BENADDRESS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="BENCOUNTRY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gBENTOWN">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="BENTOWN" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINBENNAME">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBENNAME" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gINBENADDRESS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBENADDRESS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="INBENCOUNTRY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINBENTOWN">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="INBENTOWN" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gREFDATAITEM">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mREFDATAITEM">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="REFDATAITEM" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="REFDATAVALUE" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gLOCEQUIVCHGS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCEQUIVCHGS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gFOREQUIVCHGS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOREQUIVCHGS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="REGCOMPLIANCE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CBCREDITACCOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CBCREDITCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CBDEBITACCOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CBDEBITCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TCSIMACCEPTED" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LASTSIMTIME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INHDR3UETR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gSPLITEXPOSUREDATE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mSPLITEXPOSUREDATE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="SPLITEXPOSUREDATE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="SPLITEXPOSUREAMT" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="AUTHORISATIONID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="EXEMPTFROMSCA" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STATUSREASONCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED4" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED3" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gSTMTNOS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="STMTNOS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gOVERRIDE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="OVERRIDE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INPUTTER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DATETIME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCODECR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCODECH" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCOUNTRYDR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCOUNTRYCR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCOUNTRYCH" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FUTUREDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IBLCCODEDR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IMMEDIATELY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gTRANSINSTR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="TRANSINSTR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CPBFTTRANREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTBNKSDR" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTBNKRCV" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTACCTRCV" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSDRNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSDRID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSDRPN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBFTSDRQS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPBFTSDRQS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CPBFTRCVNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTRCVID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTRCVPN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBFTRCVANS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPBFTRCVANS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="FASTTXNCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INITBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBRTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBTRSTREET" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBTRBLDNNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBRTPSTCD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBRTTWNNM" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBRTCTRY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECIEVEBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTSTRNM" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTBDLNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTTWNNM" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTCTRY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHRGACQ" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHRGISS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHRGNBC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBFTREMARK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPBFTREMARK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CPBRTCODE1" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FASTPAYID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTBNKINAD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTBNKRCAD" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSWMSGTP" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSWSDCBNK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBCHRGMODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHQISSUEREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBROUNDING" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTDRAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTCRAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FASTMSGID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FTAVLBAL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTSMS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTDBEX" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBFTCREX" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHNLCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBRCVACTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CPBRTCODEV1" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSSTMTLIST" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHRGBEN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHGIACQ" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHGIISS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHGIBEN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSAMTTXN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSAMTSTL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSAMTBILL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSEXGRATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCURRBILL" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSISOMAP" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCURRTXN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCURRBASE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LNSSCHGINBC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gLTXNNARRDR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="LTXNNARRDR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gLTXNNARRCR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="LTXNNARRCR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CHQSTOCKREG" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHQSERIESID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHQISSUENO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHQSTARTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOB" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PRODUCT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STATUSCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="STATUDESC" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ATMRESPCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TRXHASH" type="xsd:string"/>
         <xsd:element minOccurs="0" name="REVBANKNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gKHQR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="KHQR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>