FDCLOSDETAILINQUIRY/1.0/schemas/JSONConverter1.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="response_code"/>
	<xs:element type="xs:string" name="response_msg"/>
        <xs:element type="xs:string" name="principal"/>
        <xs:element type="xs:string" name="interest"/>
        <xs:element type="xs:string" name="interest_adjustment"/>
        <xs:element type="xs:string" name="fee_charge"/>
        <xs:element type="xs:string" name="tota_amount_received"/>
        <xs:element type="xs:string" name="credit_account_number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>