THETARAY20251023/4.0/transformations/routes/route10/project/resources/schemas/IN_PORT_1.xsd

<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence>
<xs:element name="requestId" type="xs:string" />
<xs:element name="transactionAmount" type="xs:unsignedShort" />
<xs:element name="transactionCurrency" type="xs:string" />
<xs:element name="transactionDate" type="xs:date" />
<xs:element maxOccurs="unbounded" name="parties">
<xs:complexType>
<xs:sequence>
<xs:element name="partyId" type="xs:string" />
<xs:element name="partyType" type="xs:string" />
<xs:element name="fullName" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
