RANGESTATEMENT/1.0/transformations/routes/route4/project/resources/schemas/IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RangeStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="response_code"/>
                                <xs:element type="xs:string" name="response_msg"/>
				<xs:element name="Statement" minOccurs="0" maxOccurs="unbounded">
					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
