MMS_V3/3.0/transformations/components/FuncTransfer/project/resources/schemas/Input2.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="fundtransfer">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="1" name="Amount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TxnFee" type="xsd:string"/>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="1" name="FromAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="ToAccount" type="xsd:string"/>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Remark" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TransId" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="CurrenCy" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="TxnType" type="xsd:string"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="debitcurrency" type="xsd:string"/>
                                                                            
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
