MOBILEBANKING_V4/4.0/transformations/routes/route43/project/resources/schemas/MOBILEBANKING_V4_NEW.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Root">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="SetValue" type="xsd:string"/>
                                   
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SignData" type="xsd:string"/>
                                       
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
