MOBILEBANKING_V4/4.0/transformations/components/KoicaPhon/project/resources/schemas/Input1.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FTKoicaPhoneRq">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="CifNo" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="txnFee" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryPhone" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryName" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="FromAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="FromAccountName" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="ToAccount" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="Remark" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="senderphone" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SignData" type="xsd:string"/>
                                       
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>