MOBILEBANKING/5.0/schemas/ExRate_Res.IN_PORT.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRateRp">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="ErrorCode"/>
        <xs:element type="xs:string" name="ErrorMsg"/>
        <xs:element type="xs:string" name="UpdateDay"/>
        <xs:element name="ListExchangeRate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ExchangeRateDetail" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CurrenCy"/>
                    <xs:element type="xs:byte" name="Purchase"/>
                    <xs:element type="xs:short" name="Sell"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
