MOBILEBANKING/5.0/schemas/GetLegal.OUT_PORT.13.xsd

<xsd:schema xmlns:tns="http://temenos.com/CPBGETACCOUNTLIST" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://temenos.com/CPBGETACCOUNTLIST" targetNamespace="http://temenos.com/CPBGETACCOUNTLIST">
    <xsd:complexType name="CPBGETACCOUNTLISTType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="gCPBGETACCOUNTLISTDetailType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCPBGETACCOUNTLISTDetailType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element minOccurs="0" name="CustomerCIF" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ACCOUNTNUMB" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ACCOUNTCCY" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ACCOUNTBALANCE" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ACCTAVLBAL" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ACCOUNTTYPE" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="BRANCHCODE" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="POSTINGRESTRICT" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="BLOCKAMOUNT" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="MINBAL" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="STATUSCODE" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="STATUDESC" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ATMRESPCODE" type="xsd:string"/>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
