MOBILEBANKING/5.0/schemas/OUT_PORT8.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/ACLOCKEDEVENTS" elementFormDefault="qualified" xmlns="http://temenos.com/ACLOCKEDEVENTS" targetNamespace="http://temenos.com/ACLOCKEDEVENTS">
   <xsd:complexType name="ACLOCKEDEVENTSType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="ACCOUNTNUMBER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DESCRIPTION" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FROMDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TODATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCKEDAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RCRETRY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RCDETAILID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BLOCKPRIORITY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TRANSREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PAYMENTAMT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PAYMENTCCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ADDDETAILREQSOURCE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVEALTKEY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LOCKEDTYPE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ACCOUNTLINK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="LINKSTATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TXNSIGN" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FASTATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gOVERRIDE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="RESERVED7" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="RESERVED6" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED5" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gINPUTTER">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="RESERVED4" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gDATETIME">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="RESERVED3" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="RESERVED2" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RESERVED1" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PRERESERVATIONKEY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="OVERRIDE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECORDSTATUS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CURRNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INPUTTER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DATETIME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUTHORISER" type="xsd:string"/>
         <xsd:element minOccurs="0" name="COCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEPTCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUDITORCODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AUDITDATETIME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="BLCKREASONS" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>
