SAVINGACCOUNTVALIDATE/1.0/transformations/routes/route6/project/resources/schemas/IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="currency"/>
        <xs:element type="xs:string" name="inputChCode"/>
        <xs:element type="xs:float" name="inquiryAmount"/>
        <xs:element type="xs:long" name="receiverAccountNo"/>
        <xs:element type="xs:byte" name="receiverBankCode"/>
        <xs:element type="xs:long" name="senderAccountNo"/>
        <xs:element type="xs:string" name="senderName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
