THETARAY20251023/9.0/transformations/routes/route7/project/resources/schemas/DBQueryOnInput1.OUT_PORT.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/DBQueryOnInput1/Out" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="query" type="xs:string" />
        <xs:element name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedInt" />
				<xs:element name="SERVICENAME" />
				<xs:element name="AMOUNTTRAN_100" />
				<xs:element name="TRANCURRENCY" />
				<xs:element name="MOBILENUMBER" />
				<xs:element name="ADRESSE" />
				<xs:element name="NATIONALITY" />
				<xs:element name="GENDER" />
				<xs:element name="PLACEOFBIRTH" />
				<xs:element name="DESTACCOUNT" />
				<xs:element name="DESTMOBILENUMBER" />
				<xs:element name="WALLETCURRENCY" />
				<xs:element name="TRANSDATETIME" />
				<xs:element name="RESPCODE" />
				<xs:element name="USERID" />
				<xs:element name="FULLNAME" />
				<xs:element maxOccurs="unbounded" name="DATE_TRANS" />
				<xs:element name="DESTUSERID" />
				<xs:element name="DESTADDRESS" />
				<xs:element name="DESTFIRSTNAME" />
				<xs:element name="DESTMERCHANTNAME" />
				<xs:element name="DESTCUSTOMERNAME" />
				<xs:element name="NATIONALITY_CODE" />
				<xs:element name="CITY" />
            </xs:sequence>
            <xs:attribute name="resultcount" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
