WEBCONSUMER5O/1.0/schemas/Feeder1.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.oorsprong.org/websamples.countryinfo" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ftns="http://www.oorsprong.org/websamples.countryinfo/CapitalCity/Input" targetNamespace="http://www.oorsprong.org/websamples.countryinfo/CapitalCity/Input">
    <xs:import namespace="http://www.oorsprong.org/websamples.countryinfo"/>
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ftns:Header"/>
                <xs:element ref="ftns:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:CapitalCity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
