MMS_V3/4.0/schemas/khqr_in.OUT_PORT.5.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBBKGINCM" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBBKGINCM" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBBKGINCM">
   <xsd:complexType name="FUNDSTRANSFERCPBBKGINCMType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITCURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBFTRCVANS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPBFTRCVANS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="INITBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DBRTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="RECIEVEBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBFTREMARK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CPBFTREMARK" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="FASTPAYID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="FASTMSGID" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gLTXNNARRDR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="LTXNNARRDR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gLTXNNARRCR">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="LTXNNARRCR" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>
