MOBILEBANKING_V3/2.0/transformations/routes/route30/project/resources/schemas/GetAcStmt_Res.IN_PORT.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="AccountStmtRp">
        <xsd:complexType>
            <xsd:sequence>
          
                <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string"/>
                 <xsd:element maxOccurs="1" minOccurs="1" name="ErrorMsg" type="xsd:string"/>
            
			      <xsd:element maxOccurs="1" minOccurs="0" name="ListTxn">
                       <xsd:complexType>
                              <xsd:sequence>
                              <xsd:element maxOccurs="unbounded" minOccurs="0" name="TxnDetail">
									<xsd:complexType>
									<xsd:sequence>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="DrCr" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="TxnCcy" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TxnContent" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="LastId " type="xsd:string"/>
									 <xsd:element maxOccurs="1" minOccurs="1" name="TxnAmount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="TxnDate" type="xsd:string"/>
									  <xsd:element maxOccurs="1" minOccurs="0" name="TxnRefNo" type="xsd:string"/>
									   <xsd:element maxOccurs="1" minOccurs="0" name="DrAcctNo" type="xsd:string"/>
									    <xsd:element maxOccurs="1" minOccurs="0" name="CrAcctNo" type="xsd:string"/>
									     <xsd:element maxOccurs="1" minOccurs="0" name="DrAcctName" type="xsd:string"/>
									      <xsd:element maxOccurs="1" minOccurs="0" name="CrAcctName" type="xsd:string"/>
									        <xsd:element maxOccurs="1" minOccurs="0" name="TxnValDateTime" type="xsd:string"/>
									         <xsd:element maxOccurs="1" minOccurs="0" name="TxnTittle" type="xsd:string"/>
									          <xsd:element maxOccurs="1" minOccurs="0" name="Txntype" type="xsd:string"/>
                                       </xsd:sequence>
									</xsd:complexType>
									</xsd:element> 
                    </xsd:sequence>
                       </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
