INTERNALFUNDTRANSFER/1.0/transformations/routes/route9/project/resources/schemas/IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns1="www.fiorano.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.fiorano.com">
   <xsd:element name="root">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="header" type="xsd:string"/>
            <xsd:element name="TRANSACTION.TYPE">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="DEBIT.ACCT.NO">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="DEBIT.CURRENCY">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CREDIT.ACCT.NO">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CREDIT.CURRENCY">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="TRANS.AMT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROFIT.CENTRE.DEPT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ORDERING.BANK">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="TRANS.CCY">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CREDIT.AMOUNT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="IPAY.REF">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="IPAY.DESC">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.CHANNEL">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.SUBCHAN">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.CHGFROM">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.CHGCCY">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.CHGAMT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.DESTACC">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="LI.DESTBANK">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:value"/>
                  </xsd:sequence>
                  <xsd:attribute ref="ns1:totalPositions" use="optional"/>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:attribute name="totalPositions" type="xsd:int"/>
   <xsd:attribute name="position" type="xsd:int"/>
   <xsd:attribute name="subPosition" type="xsd:int"/>
   <xsd:element name="value">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base="xsd:string">
               <xsd:attribute ref="ns1:position" use="optional"/>
               <xsd:attribute ref="ns1:subPosition" use="optional"/>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
