ADDACOUNT/1.0/transformations/routes/route7/project/resources/schemas/OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="transactionCurrencyType"/>
        <xs:element type="xs:string" name="transactionAmount"/>
        <xs:element type="xs:string" name="payerName"/>
        <xs:element type="xs:string" name="fromAccount"/>
        <xs:element type="xs:string" name="fromCurrencyType"/>
        <xs:element type="xs:string" name="payeeName"/>
        <xs:element type="xs:string" name="toAccount"/>
        <xs:element type="xs:string" name="toCurrencyType"/>
         <xs:element type="xs:string" name="transactionReference"/>		
         <xs:element type="xs:string" name="transactionDescription"/>
         <xs:element type="xs:string" name="channel"/>      
</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
