MOBILEBANKING/5.0/transformations/routes/route2/project/resources/schemas/IN_PORT1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="AccountInfoRq">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="AccountType" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="AccountNo" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SignData" type="xsd:string"/>
                                       
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
