GETBALANDCURRENCYTYPEANDCUSTINQUIRY/2.0/schemas/accBalnce.IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/Bill_Payment/Request">
    <xsd:element name="SQL_CFG_1">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Accbalance">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="account" type="xsd:string"/>
                            <xsd:element name="create_date" type="xsd:dateTime"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
