CONSOLIDATEDBALANCES/1.0/schemas/IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
    <xs:sequence>
    <xs:element type="xs:string" name="responseCode"/>
	<xs:element type="xs:string" name="responseMsg"/>
	 <xs:element name="items">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="account"/> 
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="balance"/>
              <xs:element type="xs:string" name="productType"/>
              <xs:element type="xs:string" name="accountType"/>
            </xs:sequence>
			
          </xs:complexType>
        </xs:element>
		</xs:sequence>
		<xs:attribute type="xs:string" name="class"/>
        </xs:complexType>
		</xs:element>
      </xs:sequence>
	  
    </xs:complexType>
  </xs:element>
</xs:schema>