AMOUNTVALIDATE/1.0/schemas/JSONConverter1.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="session_id"/>
        <xs:element type="xs:string" name="response_code"/>
	<xs:element type="xs:string" name="response_msg"/>
        <xs:element type="xs:string" name="loan_number"/>
        <xs:element type="xs:string" name="customer_name"/>
        <xs:element type="xs:string" name="loan_currency"/>
        <xs:element type="xs:string" name="settlement_acc"/>
        <xs:element type="xs:string" name="txn_amount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>