FDCONDITIONCHANGE/1.0/transformations/routes/route6/project/resources/schemas/OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="account_number"/>
        <xs:element type="xs:string" name="interestType"/>
        <xs:element type="xs:string" name="changeToProduct"/>
        <xs:element type="xs:string" name="changeToFdType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
