THETARAY20251023/9.0/schemas/FileReader1.IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.fiorano.com/fesb/activity/FileReader1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Input">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FileName" type="xsd:string" minOccurs="0"  maxOccurs="1"/>
		        <xsd:element name="Directory" type="xsd:string" minOccurs="0"  maxOccurs="1"/>
                <xsd:element name="PostProcessingDirectory" type="xsd:string" minOccurs="0"  maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>