SAVINGSCHEMEINQUIRY/2.0/transformations/routes/route8/project/resources/schemas/IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="response_code"/>
				<xs:element type="xs:string" name="response_msg"/>
				<xs:element name="savingaccount">
					<xs:complexType>
						<xs:sequence>    
							<xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>   
										<xs:element type="xs:string" name="account"/>
										<xs:element type="xs:string" name="currency"/>
										<xs:element type="xs:string" name="accType"/>
                                                                                <xs:element type="xs:string" name="accountStatus"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					<xs:attribute type="xs:string" name="class"/>
					</xs:complexType>
					
				</xs:element>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
</xs:schema>
