LOANAGAINSTFD/1.0/transformations/ports/JSONConverter1/OUT_PORT_1/project/resources/schemas/applicationContextSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="session_id"/>
        <xs:element type="xs:string" name="reference_number"/>
		<xs:element type="xs:string" name="request_medium_id"/>
        <xs:element type="xs:string" name="request_medium"/>
		<xs:element type="xs:string" name="transaction_id"/>
        <xs:element type="xs:string" name="customer_name"/>
		<xs:element type="xs:string" name="amount"/>
        <xs:element type="xs:string" name="currency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>