MINISTATEMENT/1.0/transformations/routes/route56/project/resources/schemas/applicationContextSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="currencyType"/>
        <xs:element type="xs:string" name="transactionAmount"/>
        <xs:element type="xs:string" name="payerName"/>
		 <xs:element type="xs:string" name="fromAccount"/>
		  <xs:element type="xs:string" name="fromCurrencyType"/>
        <xs:element type="xs:string" name="payeeName"/>
        <xs:element type="xs:string" name="toAccount"/>
         <xs:element type="xs:string" name="toCurrencyType"/>
		 <xs:element type="xs:string" name="transactionReference"/>
		 <xs:element type="xs:string" name="transactionDescription"/>
		 <xs:element type="xs:string" name="Status"/>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
