MINISTATEMENT/1.0/transformations/routes/route56/project/resources/schemas/IN_PORT_16.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Ministatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="ClosingBalance"/>
				<xs:element name="statement" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Date"/>
							<xs:element type="xs:string" name="Amount"/>
							<xs:element type="xs:string" name="Description"/>
							<xs:element type="xs:string" name="Type"/>
							<xs:element type="xs:string" name="Currency"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
