THETARAY_CLIENT2_UPDATED/4.0/transformations/routes/route7/project/resources/schemas/IN_PORT_10.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence>
<xs:element name="requestId" type="xs:string" />
<xs:element name="transactionCurrency" type="xs:string" />
<xs:element name="transactionAmount" type="xs:unsignedShort" />
<xs:element maxOccurs="unbounded" name="parties">
<xs:complexType>
<xs:sequence>
<xs:element name="partyId" type="xs:unsignedByte" />
<xs:element name="partyType" type="xs:string" />
<xs:element name="screeningEntityType" type="xs:string" />
<xs:element name="fullName" type="xs:string" />
<xs:element name="nationalities" type="xs:string" />
<xs:element name="identification">
<xs:complexType>
<xs:sequence>
<xs:element name="identificationType" type="xs:string" />
<xs:element name="datesOfBirth" type="xs:date" />
<xs:element name="gender" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="address">
<xs:complexType>
<xs:sequence>
<xs:element name="streetName" type="xs:string" />
<xs:element name="city" type="xs:string" />
<xs:element name="country" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="narratives">
<xs:complexType>
<xs:sequence>
<xs:element name="remittanceInfo" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
