MONEYGRAM/1.0/transformations/routes/route1/project/resources/schemas/IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.moneygram.com/AgentConnect1512" xmlns:xsd="http://www.moneygram.com/AgentConnect1512" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ftns="http://www.moneygram.com/AgentConnect1512/feeLookup/Input" targetNamespace="http://www.moneygram.com/AgentConnect1512/feeLookup/Input">
    <xs:import namespace="http://www.moneygram.com/AgentConnect1512"/>
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ftns:Header"/>
                <xs:element ref="ftns:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="xsd:feeLookupRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
