SAVINGACCOUNTVALIDATE/1.0/schemas/JSONConverter1.OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="account"/>
        <xs:element type="xs:string" name="bank"/>
        <xs:element type="xs:string" name="network"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>