LOANAGAINSTFD/1.0/transformations/routes/route5/project/resources/schemas/IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/DB1/Request">
   <xsd:element name="SQL_CFG_1">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSERT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="ipay_reference" type="xsd:string"/>
                     <xsd:element name="fixeddepositid" type="xsd:string"/>
                     <xsd:element name="term" type="xsd:string"/>
                     <xsd:element name="rate" type="xsd:double"/>
                     <xsd:element name="ccy" type="xsd:string"/>
                     <xsd:element name="amount" type="xsd:double"/>
                     <xsd:element name="payment_type" type="xsd:string"/>
                     <xsd:element name="status" type="xsd:string"/>
                     <xsd:element name="created_at" type="xsd:dateTime"/>
                     <xsd:element name="updated_at" type="xsd:dateTime"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="id" type="xsd:long" use="optional"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
