FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/transformations/routes/route20/project/resources/schemas/OUT_PORT0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Record">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TRANS_REF"/>
              <xs:element type="xs:string" name="DR_ACCT_NO"/>
              <xs:element type="xs:string" name="CR_ACCT_NO"/>
              <xs:element type="xs:string" name="DR_VAL_DATE"/>
              <xs:element type="xs:string" name="CR_VAL_DATE"/>
              <xs:element type="xs:string" name="DR_CCY"/>
              <xs:element type="xs:string" name="DR_AMOUNT"/>
              <xs:element type="xs:string" name="CR_CCY"/>
              <xs:element type="xs:string" name="CR_AMOUNT"/>
              <xs:element type="xs:string" name="IPAY.REFERENCE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>