MOBILEBANKING/2.0/transformations/routes/route29/project/resources/schemas/GLegalID.IN_PORT.27.xsd

<xsd:schema xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBMBTOPUP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBMBTOPUP" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBMBTOPUP">
    <xsd:complexType name="FUNDSTRANSFERCPBMBTOPUPType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DEBITTHEIRREF" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CREDITTHEIRREF" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CREDITCURRENCY" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CREDITAMOUNT" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CHARGESACCTNO" type="xsd:string"/>
            <xsd:element minOccurs="0" name="COMMISSIONAMT" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="optional"/>
    </xsd:complexType>
</xsd:schema>
