SALPAYOFF/1.0/transformations/routes/route3/project/resources/schemas/JSONConverter2.IN_PORT_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/DB1/Response">
   <xsd:element name="root">
      <xsd:complexType>
         <xsd:sequence>
          
                  <xsd:sequence>
                     <xsd:element name="response_code" type="xsd:string"/>
                     <xsd:element name="response_msg" type="xsd:string"/>
                  </xsd:sequence>
            
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
