FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/schemas/JSONConverter10.OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="channel"/>
        <xs:element type="xs:string" name="transactionReference"/>
        <xs:element type="xs:string" name="origin"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>