FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/schemas/JSONConverter6.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FDDetails">
    <xs:complexType>
      <xs:sequence>
<xs:element name="FD">
      <xs:complexType>
      <xs:sequence>    
<xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
      <xs:complexType>
      <xs:sequence>   
              <xs:element type="xs:string" name="Arrangement"/>
              <xs:element type="xs:string" name="Account"/>
              <xs:element type="xs:string" name="CustomerName"/>
              <xs:element type="xs:string" name="Renewal_Date"/>
              <xs:element type="xs:string" name="Product"/>
              <xs:element type="xs:string" name="Ccy"/>
              <xs:element type="xs:string" name="Amount"/>
              <xs:element type="xs:string" name="Term"/>
              <xs:element type="xs:string" name="Value_Date"/>
              <xs:element type="xs:string" name="Maturity_Date"/>
              <xs:element type="xs:string" name="Principal_CR_Account"/>
              <xs:element type="xs:string" name="Interest_CR_Account"/>
              <xs:element type="xs:string" name="FDType"/>
              <xs:element type="xs:string" name="Interest_Rate"/>
              <xs:element type="xs:string" name="Channel"/>
              <xs:element type="xs:string" name="Interest_After_Tax"/>
              <xs:element type="xs:string" name="Rollover"/>
              <xs:element type="xs:string" name="Update_Rollover_Type"/>
              <xs:element type="xs:string" name="Close_Applicable"/>
              <xs:element type="xs:string" name="Tax"/>
            </xs:sequence>
          </xs:complexType>
  </xs:element>
</xs:sequence>
<xs:attribute type="xs:string" name="class"/>
          </xs:complexType>
  </xs:element>
</xs:sequence>
          </xs:complexType>
  </xs:element>
</xs:schema>
