RANGESTATEMENT/1.0/schemas/JSONConverter11.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RangeStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="response_code"/>
                <xs:element type="xs:string" name="response_msg"/>
                <xs:element type="xs:string" name="total_page"/>
				<xs:element name="Statement">
					<xs:complexType>
						<xs:sequence>    
							<xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>   
										<xs:element type="xs:string" name="date"/>
										<xs:element type="xs:string" name="amount"/>
										<xs:element type="xs:string" name="currency"/>
										<xs:element type="xs:string" name="sing"/>
										<xs:element type="xs:string" name="description"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="class"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>
</xs:schema>