LOANAGAINSTFD/1.0/schemas/JSONConverter6.OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="requestterm"/>
        <xs:element type="xs:string" name="requestcurrency"/>
	<xs:element type="xs:string" name="requestamount"/>
        <xs:element type="xs:string" name="loanrate"/>
        <xs:element type="xs:string" name="type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>