LOANAGAINSTFD/1.0/schemas/JSONConverter1.OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipay_reference"/>
        <xs:element type="xs:string" name="fixeddepositid"/>
	<xs:element type="xs:string" name="term"/>
        <xs:element type="xs:string" name="rate"/>
	<xs:element type="xs:string" name="ccy"/>
        <xs:element type="xs:string" name="amount"/>
	<xs:element type="xs:string" name="payment_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>