LOANAGAINSTFD/1.0/schemas/JSONConverter8.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="monthly_principle"/>
        <xs:element type="xs:string" name="monthly_interest"/>
	<xs:element type="xs:string" name="monthly_fee"/>
        <xs:element type="xs:string" name="total_pay"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>