LOANAGAINSTFD/1.0/schemas/JSONConverter2.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
                <xs:element type="xs:string" name="status_code"/>
                <xs:element type="xs:string" name="message"/>
                <xs:element type="xs:string" name="fdRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>