MOBILEBANKING/2.0/schemas/AccList_Res.OUT_PORT.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="AccountListRp">
        <xsd:complexType>
            <xsd:sequence>
          
                <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string"/>
                 <xsd:element maxOccurs="1" minOccurs="1" name="ErrorMsg" type="xsd:string"/>
            <xsd:element name="ListAccount">
        <xsd:complexType>
            <xsd:sequence>
                 <xsd:element name="ListAccountDetail" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
            <xsd:sequence>
			      
                                     <xsd:element maxOccurs="1" minOccurs="1" name="AccountNo" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="AccountCcy" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="AccountBalance" type="xsd:string"/>
                                        <xsd:element maxOccurs="1" minOccurs="1" name="AccountBalanceAvaliable" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="AccountType" type="xsd:string"/>
									 <xsd:element maxOccurs="1" minOccurs="1" name="BranchCode" type="xsd:string"/>
									
                                     
									 </xsd:sequence>
        </xsd:complexType>
    </xsd:element> </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
                    
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

