MOBILEBANKING_V4/4.0/transformations/routes/route40/project/resources/schemas/OUT_PORT16.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FTSWIFTRp">
        <xsd:complexType>
            <xsd:sequence>
          
                <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string"/>
                 <xsd:element maxOccurs="1" minOccurs="1" name="ErrorMsg" type="xsd:string"/>
            
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TransRefNo" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="TxnCommitTime" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="AccountBalance" type="xsd:string"/>
                                     
                                      
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
