NEWMIDCREATION/1.0/transformations/routes/route2/project/resources/schemas/OUT_PORT_10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
		<xs:element type="xs:string" name="accountKhr"/>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="midCategory"/>
                <xs:element type="xs:string" name="midType"/>
<xs:element type="xs:string" name="nidType"/>
                <xs:element type="xs:string" name="nidNo"/>
                <xs:element type="xs:string" name="paymentFreq"/>
                <xs:element type="xs:string" name="accountUsd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
