SALCALCULATEDLOANDETAIL/1.0/schemas/JSONConverter1.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="responseCode"/>
	<xs:element type="xs:string" name="responseMassage"/>
        <xs:element type="xs:string" name="uniqueId"/>
        <xs:element type="xs:string" name="eligibilityType"/>
        <xs:element type="xs:string" name="arrangementFee"/>
        <xs:element type="xs:string" name="loanAmount"/>
        <xs:element type="xs:string" name="repaymentAmount"/>
        <xs:element type="xs:string" name="dueDate"/>
        <xs:element type="xs:string" name="salaryAccount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>