FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/transformations/routes/route27/project/resources/schemas/IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>      
              <xs:element type="xs:string" name="exchangeRate"/>
              <xs:element type="xs:string" name="convertedAmount"/>
            </xs:sequence>
          </xs:complexType>
  </xs:element>
</xs:schema>
