MOBILEBANKING_V3/2.0/transformations/components/GETPAY/project/resources/schemas/IN_PORT_ext73.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBMBANUALFEE" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBMBANUALFEE" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBMBANUALFEE">
   <xsd:complexType name="FUNDSTRANSFERCPBMBANUALFEEType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITCURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CHARGESACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="COMMISSIONAMT" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>