MOBILEBANKING_V4/4.0/transformations/routes/route22/project/resources/schemas/IN_PORT.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FTNCSRq">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                      <xsd:element maxOccurs="1" minOccurs="1" name="CifNo" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="TxnFee" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryBank" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryAccountName" type="xsd:string"/>
				     <xsd:element maxOccurs="1" minOccurs="0" name="BeneficiaryBankCode" type="xsd:string"/>
				     <xsd:element maxOccurs="1" minOccurs="0" name="SenderName" type="xsd:string"/>
				     <xsd:element maxOccurs="1" minOccurs="0" name="SenderBankName" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SenderBankCode" type="xsd:string"/>
				     <xsd:element maxOccurs="1" minOccurs="0" name="FromAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="ToAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Remark" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SignData" type="xsd:string"/>
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
