STOINQUIRY/1.0/transformations/routes/route73/project/resources/schemas/OUT_PORT0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="_ID"/>
              <xs:element type="xs:string" name="K.TYPE"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:string" name="CURRENT.AMOUNT.BAL"/>
              <xs:element type="xs:string" name="FREQ.DATE"/>
              <xs:element type="xs:string" name="FREQ"/>
              <xs:element type="xs:string" name="CURRENT.END.DATE"/>
              <xs:element type="xs:string" name="CPTY.ACCT.NO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>