LOANREPAYMENTSCHEDULE/1.0/schemas/JSONConverter2.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
                                <xs:element type="xs:string" name="response_code"/>
				<xs:element type="xs:string" name="response_msg"/>
				<xs:element name="paymentSchedule">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="date"/>
										<xs:element type="xs:string" name="totalDue"/>
										<xs:element type="xs:string" name="totalCap"/>
										<xs:element type="xs:string" name="principal"/>
										<xs:element type="xs:string" name="interest"/>
										<xs:element type="xs:string" name="charge"/>
										<xs:element type="xs:string" name="tax"/>
										<xs:element type="xs:string" name="totalPayment"/>
										<xs:element type="xs:string" name="outstanding"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="class"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>