LOANREPAYMENTSCHEDULE/1.0/schemas/OFSConverter2.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xsd:element name="root">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="header" type="xsd:string"/>
            <xsd:any/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:attribute name="totalPositions" type="xsd:int"/>
   <xsd:attribute name="position" type="xsd:int"/>
   <xsd:attribute name="subPosition" type="xsd:int"/>
   <xsd:element name="value">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base="xsd:string">
               <xsd:attribute ref="position" use="optional"/>
               <xsd:attribute ref="subPosition" use="optional"/>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>