MOBILEBANKING_V3/2.0/schemas/AccStmt1.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cpbank.com/statement" xmlns:sch="http://cpbank.com/statement" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ftns="http://cpbank.com/statement/GetStatement/Input" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cpbank.com/statement/GetStatement/Input">
    <xsd:import namespace="http://cpbank.com/statement"/>
    <xsd:element name="Envelope">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ftns:Header"/>
                <xsd:element ref="ftns:Body"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Header">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Body">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="sch:GetStatementRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
