MERCHANTINQUIRYACC/1.0/schemas/JSONConverter2.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
               
			<xs:sequence>
 <xs:element type="xs:string" name="response_code"/>
                <xs:element type="xs:string" name="customer_name"/>
                <xs:element type="xs:string" name="response_msg"/>
				<xs:element name="accounts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
                                                                                <xs:element type="xs:string" name="ccy"/>
										<xs:element type="xs:string" name="account"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
		              <xs:attribute type="xs:string" name="class"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>