MERCHANTINQUIRYACC/1.0/schemas/OFSConverter1.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="">
    <xsd:element name="Root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Record">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ACCOUNT" type="xsd:string"/>
                            <xsd:element name="CURRENCY" type="xsd:string"/>
                            <xsd:element name="ACCOUNT.NAME" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
