MMS_V3/3.0/transformations/routes/EDC/project/resources/schemas/MBEDCBillPay__IN_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://temenos.com/DEVMB3" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:ftns="http://temenos.com/DEVMB3/MBEDCBillPay/Input" targetNamespace="http://temenos.com/DEVMB3/MBEDCBillPay/Input">
   <xsd:import namespace="http://temenos.com/DEVMB3"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMBACCTOACCT"/>
   <xsd:import namespace="http://temenos.com/CUSTOMERCPBDMD"/>
   <xsd:import namespace="http://temenos.com/AAARRANGEMENTACTIVITYOPENFD"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFER"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBQRPAYMENT"/>
   <xsd:import namespace="http://temenos.com/CUSTOMER"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBPPWSABILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBRFTPHONEFTMB"/>
   <xsd:import namespace="http://temenos.com/AAARRANGEMENTACTIVITY"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMBANUALFEE"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBWATERBILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMBBILL"/>
   <xsd:import namespace="http://temenos.com/CPBGETACCOUNTSTMT"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBBKGMWTMB"/>
   <xsd:import namespace="http://temenos.com/CPBGETACCOUNTINFO"/>
   <xsd:import namespace="http://temenos.com/CPBGETCUSTOMERINFO"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBFUNANBILL"/>
   <xsd:import namespace="http://temenos.com/CPBGETACCOUNTLIST"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBSVLPAYMENT"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBACBILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBRFTFTMB"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBUTILITYBILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBBKGMB"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMMSPAYMENT"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBTHPAYMENT"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBWINGOUT"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMOBOUTFASTV2"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBEDCBILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBSRBILL"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBETAXPAYMENT"/>
   <xsd:import namespace="http://temenos.com/AAARRANGEMENTACTIVITYCPBDMD"/>
   <xsd:import namespace="http://temenos.com/CPBGETINTERESTRATE"/>
   <xsd:import namespace="http://temenos.com/CPBGETEXCHANGERATE"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMBTOPUP"/>
   <xsd:import namespace="http://temenos.com/FUNDSTRANSFERCPBMBBILLTOPUPREFUND"/>
   <xsd:import namespace="http://jaxb.dev.java.net/array"/>
   <xsd:element name="Envelope">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="ftns:Header"/>
            <xsd:element ref="ftns:Body"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Header">
      <xsd:complexType>
         <xsd:sequence/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Body">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="tns:MBEDCBillPay"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
