FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/transformations/routes/route23/project/resources/schemas/OUT_PORT0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ARRANGEMENT.ID"/>
              <xs:element type="xs:string" name="ARR.ACCOUNT"/>
              <xs:element type="xs:string" name="CUSTOMER.NAME"/>
              <xs:element type="xs:string" name="PRODUCT.NAME"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:string" name="AMOUNT"/>
              <xs:element type="xs:string" name="TERM"/>
              <xs:element type="xs:string" name="VALUE.DATE"/>
              <xs:element type="xs:string" name="MATURITY.DATE"/>
              <xs:element type="xs:string" name="RENEWAL.DATE"/>
              <xs:element type="xs:string" name="PRINCIPAL_CR_ACCOUNT"/>
              <xs:element type="xs:string" name="INTEREST_CR_ACCOUNT"/>
              <xs:element type="xs:string" name="INT.RATE"/>
 			<xs:element type="xs:string" name="CHANNEL"/>
 			<xs:element type="xs:string" name="NET.INT"/>
 			<xs:element type="xs:string" name="ROLL.TYPE"/>
 			<xs:element type="xs:string" name="UPDATE.ROLLOVER.TYPE"/>
 			<xs:element type="xs:string" name="ClOSE.APPLICABLE"/>
 			<xs:element type="xs:string" name="TAX"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>