EVENT_PROCESS5/1.0/schemas/IN_PORT_10.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence>
<xs:element name="requestId" type="xs:string" />
<xs:element name="requestData">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:string" />
<xs:element name="type" type="xs:string" />
<xs:element name="fullName" type="xs:string" />
<xs:element name="sex" type="xs:string" />
<xs:element name="nationalities" type="xs:string" />
<xs:element name="dateOfBirth" type="xs:date" />
<xs:element name="placesOfBirth" type="xs:string" />
<xs:element name="identityDocuments">
<xs:complexType>
<xs:sequence>
<xs:element name="number" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="addresses" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="profile" type="xs:string" />
<xs:element name="SaveForRescreening" type="xs:boolean" />
<xs:element name="rescreeningProfiles" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>