SETCARDSTATUS_INHOUSE/1.0/transformations/routes/route1/project/resources/schemas/IN_PORT0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:fns="http://www.fiorano.com/fesb/activity/Token/HTTP/In" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fiorano.com/fesb/activity/Token/HTTP/In">
   <xsd:complexType name="RootType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="URI" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Header" type="fns:HeaderType"/>
         <xsd:element minOccurs="0" name="Entity" type="fns:EntityType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="HTTPRequest" type="fns:RootType"/>
   <xsd:complexType name="HeaderType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="Cookie" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Content-Encoding" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Content-Length" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Content-Type" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Pragma" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EntityType">
      <xsd:sequence>
         <xsd:element name="Text" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
