FTINQUIRYANDFDINQUIRYANDCURRENCYEXCHANGE/2.0/transformations/routes/route12/project/resources/schemas/Input1.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="amount"/>
        <xs:element type="xs:string" name="fromCurrency"/>
        <xs:element type="xs:string" name="toCurrency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>