MMS_V3/3.0/schemas/AccInfo_Res.IN_PORT.31.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/CPBGETACCOUNTSTMT" elementFormDefault="qualified" xmlns="http://temenos.com/CPBGETACCOUNTSTMT" targetNamespace="http://temenos.com/CPBGETACCOUNTSTMT">
   <xsd:complexType name="CPBGETACCOUNTSTMTType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="ZERORECORDS" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCPBGETACCOUNTSTMTDetailType">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCPBGETACCOUNTSTMTDetailType">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="Account" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="BOOKINGDATE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ProcessingDate" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="VALUEDATE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="BookingDate" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="Reference" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ValueDate" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="Debit" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="Credit" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="CCY" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="EACCTIDDR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="EACCTNAMEDR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="EACCTIDCR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="EACCTNAMECR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNAMTCR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNAMTDR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNDATE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNTIME" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNTYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNDESC" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ETXNNARR" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="TRXHASH" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="RVACCT" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="RVNAME" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ReceiverBank" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="STATUSCODE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="STATUDESC" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="ATMRESPCODE" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
