MMS_V3/3.0/schemas/Collectres.IN_PORT.7.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBWINGAPI" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBWINGAPI" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBWINGAPI">
   <xsd:complexType name="FUNDSTRANSFERCPBWINGAPIType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="DEBITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DEBITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITTHEIRREF" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITACCTNO" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITCURRENCY" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITAMOUNT" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CREDITVALUEDATE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gPAYMENTDETAILS">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYMENTDETAILS" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gCOMMISSIONTYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCOMMISSIONTYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="COMMISSIONTYPE" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="COMMISSIONAMT" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CHARGECODE" type="xsd:string"/>
         <xsd:element minOccurs="0" name="INITBANK" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CDRTACCTNO" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>
