MMS_V3/3.0/schemas/khqr_in.OUT_PORT.8.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown. --><xsd:schema xmlns:ns0="http://temenos.com/FUNDSTRANSFERCPBRFTPHONEFTCANCEL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBRFTPHONEFTCANCEL" elementFormDefault="qualified"><xsd:complexType name="FUNDSTRANSFERCPBRFTPHONEFTCANCELType"><xsd:sequence><xsd:element name="DebitorAccount" type="xsd:string" minOccurs="0"/><xsd:element name="Currency" type="xsd:string" minOccurs="0"/><xsd:element name="Amount" type="xsd:string" minOccurs="0"/><xsd:element name="DebitorValueDate" type="xsd:string" minOccurs="0"/><xsd:element name="CreditorAccount" type="xsd:string" minOccurs="0"/><xsd:element name="CreditCurrency" type="xsd:string" minOccurs="0"/><xsd:element name="CreditValueDate" type="xsd:string" minOccurs="0"/><xsd:element name="gORDERINGBANK" minOccurs="0"><xsd:complexType><xsd:sequence><xsd:element name="OrderingBank" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="g" type="xsd:positiveInteger"/></xsd:complexType></xsd:element><xsd:element name="ReceiverPhoneNumber" type="xsd:string" minOccurs="0"/><xsd:element name="SenderBankCode" type="xsd:string" minOccurs="0"/><xsd:element name="SenderName" type="xsd:string" minOccurs="0"/><xsd:element name="ReceiverName" type="xsd:string" minOccurs="0"/><xsd:element name="gCPBFTREMARK" minOccurs="0"><xsd:complexType><xsd:sequence><xsd:element name="SenderPhone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="g" type="xsd:positiveInteger"/></xsd:complexType></xsd:element><xsd:element name="PassCode" type="xsd:string" minOccurs="0"/><xsd:element name="InterUniqueID" type="xsd:string" minOccurs="0"/></xsd:sequence><xsd:attribute name="id" type="xsd:string"/></xsd:complexType></xsd:schema>
