MMS_V3/3.0/schemas/T241.BakongIncomingTransaction__IN_PORT.2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBRFTAPI" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBRFTAPI" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBRFTAPI">
   <xsd:complexType name="FUNDSTRANSFERCPBRFTAPIType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="DebitAccount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitCurrency" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitAmount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitNarrative" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditAccount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditCurrency" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditAmount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="TreasuryRate" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ChargeCode" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gCHARGETYPE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="mCHARGETYPE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="ChargeType" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="FEECHARGE" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="CustomerRate" type="xsd:string"/>
         <xsd:element minOccurs="0" name="SenderAccountNumber" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ReceiverAccountNumber" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitorBankCode" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitorName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ReceivingBank" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ReceiverAccountName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="AcquirerFeeCharged" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IssuerFeeCharged" type="xsd:string"/>
         <xsd:element minOccurs="0" name="NBCFeeCharged" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ResponseMessage" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>