MMS_V3/3.0/schemas/T241.BakongIncomingTransaction__IN_PORT.6.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temenos.com/FUNDSTRANSFERCPBRFTREMITTANCECONFIRM" elementFormDefault="qualified" xmlns="http://temenos.com/FUNDSTRANSFERCPBRFTREMITTANCECONFIRM" targetNamespace="http://temenos.com/FUNDSTRANSFERCPBRFTREMITTANCECONFIRM">
   <xsd:complexType name="FUNDSTRANSFERCPBRFTREMITTANCECONFIRMType">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="DebitAccount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitCurrency" type="xsd:string"/>
         <xsd:element minOccurs="0" name="Amount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="DebitValueDate" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditAccount" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditCurrency" type="xsd:string"/>
         <xsd:element minOccurs="0" name="CreditValueDate" type="xsd:string"/>
         <xsd:element minOccurs="0" name="gORDERINGBANK">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrderingBank" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="gOVERRIDE">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="OVERRIDE" type="xsd:string"/>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="SenderPhoneNumber" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ReceiverPhoneNumber" type="xsd:string"/>
         <xsd:element minOccurs="0" name="SenderBankCode" type="xsd:string"/>
         <xsd:element minOccurs="0" name="SenderName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ReceiverName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="PassCode" type="xsd:string"/>
         <xsd:element minOccurs="0" name="InterUniqueID" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="optional"/>
   </xsd:complexType>
</xsd:schema>