STOOPERATION/1.0/schemas/JSONConverter13.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="STO">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="stoIDWithSeq"/>
        <xs:element type="xs:string" name="stoCurrency"/>
        <xs:element type="xs:string" name="stoAmount"/>
        <xs:element type="xs:string" name="stoFrequency"/>
        <xs:element type="xs:string" name="stoAccount"/>
        <xs:element type="xs:string" name="startDate"/>
        <xs:element type="xs:string" name="endDate"/>
        <xs:element type="xs:string" name="status"/>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>