FDCREATE/1.0/transformations/routes/route28/project/resources/schemas/IN_PORT_10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="response_code"/>
        <xs:element type="xs:string" name="response_msg"/>
        <xs:element type="xs:string" name="maturity"/>
        <xs:element type="xs:string" name="rate"/>
        <xs:element type="xs:string" name="net_interest"/>	 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
