INTERNALFUNDTRANSFER/1.0/schemas/FTLOG.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/Bill_Payment/Response">
   <xsd:element name="SQL_CFG_1">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="InsertintoFT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="UpdateCount" type="xsd:int"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="UpdateFT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="UpdateCount" type="xsd:int"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="id" type="xsd:long" use="optional"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>