INTERNALFUNDTRANSFER/1.0/schemas/XMLTOJSON.IN_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="message"/>
        <xs:element type="xs:string" name="transactionReference"/>
<xs:element type="xs:string" name="transactionDescription"/>
		 <xs:element type="xs:string" name="sourceCurrencyType"/>
        <xs:element type="xs:string" name="sourceAmount"/>
        <xs:element type="xs:string" name="destinationCurrencyType"/>
		 <xs:element type="xs:string" name="destinationAmount"/>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>