SALCALCULATEDLOANDETAIL/1.0/transformations/routes/route5/project/resources/schemas/OUT_PORT_10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
            <xs:element type="xs:long" name="uniqueId"/>
            <xs:element type="xs:long" name="loanAmount"/>
            <xs:element type="xs:long" name="eligibilityType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
