MONTHLYSATEMENT/1.0/transformations/routes/route6/project/resources/schemas/OUT_PORT_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="accountNumber"/>
        <xs:element type="xs:long" name="fromDate"/>
        <xs:element type="xs:long" name="toDate"/>
        <xs:element type="xs:long" name="pageSize"/>
        <xs:element type="xs:long" name="page"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
