MOBILEBANKING_V3/2.0/transformations/routes/route17/project/resources/schemas/FTandCBP.IN_PORT.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FundTransferRq">
        
                       <xsd:complexType>
                              <xsd:sequence>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="CifNo" type="xsd:string"/>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Amount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TxnFee" type="xsd:string"/>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="0" name="FromAccount" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="ToAccount" type="xsd:string"/>
                                     
                                     <xsd:element maxOccurs="1" minOccurs="0" name="Remark" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="1" name="TransId" type="xsd:string"/>
                                      <xsd:element maxOccurs="1" minOccurs="0" name="CurrenCy" type="xsd:string"/>
                                           <xsd:element maxOccurs="1" minOccurs="0" name="TxnType" type="xsd:string"/>
                                     <xsd:element maxOccurs="1" minOccurs="0" name="SignData" type="xsd:string"/>
                                       
                    </xsd:sequence>
                      
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
