TRANSACTIONHISTORY/1.0/schemas/applicationContextSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TH_Header">
    <xs:complexType>
      <xs:sequence>
      <xs:element type="xs:string" name="TransRef"/>
        <xs:element type="xs:string" name="Account_Category"/>      
        <xs:element type="xs:string" name="Account_Number"/>
        <xs:element type="xs:string" name="Date_from"/>
        <xs:element type="xs:string" name="Date_to"/>
        <xs:element type="xs:string" name="Number_of_recent_transactions"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:string" name="Message"/>                
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
