FDCREATE/1.0/transformations/routes/route12/project/resources/schemas/OUT_PORT_10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FDCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="fdType"/>
        <xs:element type="xs:string" name="customerID"/>
		<xs:element type="xs:string" name="effectiveDate"/>
		<xs:element type="xs:string" name="currency"/>
                <xs:element type="xs:string" name="introducer"/>
                <xs:element type="xs:string" name="accountType"/>
		<xs:element type="xs:string" name="modeOfOperation"/>
                <xs:element type="xs:string" name="term"/>
                <xs:element type="xs:string" name="amount"/>
		<xs:element type="xs:string" name="debitAccount"/>
		<xs:element type="xs:string" name="principalCreditAccount"/>
		<xs:element type="xs:string" name="interestCreditAccount"/>
<xs:element type="xs:string" name="maturityDate"/>
		<xs:element type="xs:string" name="changePeriod"/>
<xs:element type="xs:string" name="product"/>	
<xs:element type="xs:string" name="branchid"/>	
<xs:element type="xs:string" name="channel"/>	 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
