THETARAY_CLIENT2_UPDATED/3.0/schemas/Timer1.TIMER_PORT.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xsd:element name="Timer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="time" />
				<xsd:element ref="second" />
				<xsd:element ref="minute" />
				<xsd:element ref="hour" />
				<xsd:element ref="dayOfWeek" />
				<xsd:element ref="dayOfMonth" />
				<xsd:element ref="weekOfMonth" />
				<xsd:element ref="weekOfYear" />
				<xsd:element ref="month" />
				<xsd:element ref="year" />
				<xsd:element ref="date" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="time" type="xsd:string" />
	<xsd:element name="second" type="xsd:string" />
	<xsd:element name="minute" type="xsd:string" />
	<xsd:element name="hour" type="xsd:string" />
	<xsd:element name="dayOfWeek" type="xsd:string" />
	<xsd:element name="dayOfMonth" type="xsd:string" />
	<xsd:element name="weekOfMonth" type="xsd:string" />
	<xsd:element name="weekOfYear" type="xsd:string" />
	<xsd:element name="month" type="xsd:string" />
	<xsd:element name="year" type="xsd:string" />
	<xsd:element name="date" type="xsd:string" />
</xsd:schema>