TRANSACTIONSTATUSINQUIRY/1.0/transformations/routes/route2/project/resources/schemas/IN_PORT_10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="responseCode"/>
	<xs:element type="xs:string" name="responseMsg"/>
        <xs:element type="xs:string" name="transactionID"/>
        <xs:element type="xs:string" name="firstFTref"/>
        <xs:element type="xs:string" name="secondFTref"/>
        <xs:element type="xs:string" name="amount"/>
        <xs:element type="xs:string" name="currency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
