THETARAYTRANSCATION_INT/8.0/schemas/JSONConverter1.OUT_PORT_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="checkResult" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="matchResults">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entityType" type="xs:string" />
              <xs:element name="score" type="xs:decimal" />
              <xs:element name="list" type="xs:string" />
              <xs:element name="dateOfPublication" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>